7_ImplementasiAIuntukKeuangan/pertemuan_6/SistemTriasePhishingAI.json
{
  "name": "SistemTriasePhishingAI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d972a885-041b-48d6-862a-69b94f73b9f7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "vEg9msV07F9U5vQE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "a6e9c764-9cd0-4345-95a1-88ae9fbd1fdd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "rZhrWUaCbP6ZN40j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f06a4b2c-a29f-4a87-a632-7b6e29549049",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c47b664d-1e12-4016-91f2-ca3d16372d8a",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9c0064d7-0272-43a5-a5fa-e4910e2ce1bc",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "f3c93a4d-23b9-4633-a435-fa063f76a7d6",
      "name": "Cek Allowist"
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -160
      ],
      "id": "9316a425-ec92-40c9-97a4-ee2d6c53ace4",
      "name": "Reminder Email dari Allowist",
      "webhookId": "25671f75-7538-4e8e-a87e-3443d85131cf",
      "credentials": {
        "telegramApi": {
          "id": "OXPbMlup68czvg9g",
          "name": "SistemTriasePhisingAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. \n\nJawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        496,
        16
      ],
      "id": "6cfe92d9-1180-4730-b1d8-8aa03f4227e7",
      "name": "Analisa Phising"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        16
      ],
      "id": "a6c79d1b-1a69-4a97-9c13-efb00d088064",
      "name": "Ekstrak Skor dari Teks AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0e9af54-817f-4dd7-9060-9d0e23f5e841",
              "leftValue": "={{ $json.score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        16
      ],
      "id": "ce36e2d8-ef34-428b-9797-32e7947d5502",
      "name": "Check Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5792958980254200750"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1264,
        -80
      ],
      "id": "56204b28-4c34-47c7-bffa-6226d34cb5a9",
      "name": "Memberikan Label Otomatis",
      "webhookId": "26a7c47c-83df-4b03-8ac0-50a9116c7436",
      "credentials": {
        "gmailOAuth2": {
          "id": "vEg9msV07F9U5vQE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.  \n- Skor AI: {{ $json.score }}/10 \n- Dari: {{ $('Gmail Trigger').item.json.From }}\n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        96
      ],
      "id": "5cacf1af-6e1c-4278-8f01-6355f409f999",
      "name": "Notif untuk Skor Rendah",
      "webhookId": "94eab2d7-dcca-46f2-86a3-98f5de31a898",
      "credentials": {
        "telegramApi": {
          "id": "OXPbMlup68czvg9g",
          "name": "SistemTriasePhisingAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phising": {
      "main": [
        [
          {
            "node": "Ekstrak Skor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Skor dari Teks AI": {
      "main": [
        [
          {
            "node": "Check Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif untuk Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "05ee02ab-2b16-4ee9-9fe8-86155cf16ca8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "3sO570gVmh7Z1uUs",
  "tags": []
}