6_ImplementasiAIPemasaran/pertemuan_3/schedule_workflow.json
{
  "name": "schedule_workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "132d5127-55b6-4304-a31c-fd23edf3d1e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1073443646,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo/edit#gid=1073443646"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "ce7eac4b-db21-4ec8-b028-d47591ea4bfe",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXO6fMWaY6J0vbX4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "89db683e-e4d8-47de-8bce-54ca6b1db17e",
      "name": "Send a text message",
      "webhookId": "252b7da1-4781-44bc-999d-db6e8079c2bc",
      "credentials": {
        "telegramApi": {
          "id": "jChYXHOceulnH0pj",
          "name": "ElyasSchedule"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f20ed55-1b01-4fe3-9ee0-b654c9352f71",
              "name": "row_number",
              "value": "={{ $('Filter Ready Posts').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        0
      ],
      "id": "7576a23b-2c97-46a6-9083-a5f94a75bcd6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1073443646,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wXe3stDEb4HhZbYmnCSsPXESux1HW3jJwLipVVHFHZo/edit#gid=1073443646"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Filter Ready Posts').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        0
      ],
      "id": "98928681-832b-490e-a050-b0add0d069a5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXO6fMWaY6J0vbX4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const dateStr = row['Scheduled Date']; // 07/04/2026\n  const timeStr = row['Scheduled Time']; // 9:30:00\n\n  if (row.Status === 'Pending' && dateStr && timeStr) {\n\n    // Pecah DD/MM/YYYY menjadi YYYY-MM-DD\n    const parts = dateStr.split('/');\n    const isoDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n\n    const scheduledTime = DateTime.fromISO(\n      `${isoDate}T${timeStr}`,\n      { zone: 'Asia/Jakarta' }\n    );\n\n    if (!scheduledTime.isValid) {\n      continue;\n    }\n\n    if (scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6b24770d-151f-4ce1-a949-3738a562c861",
      "name": "Filter Ready Posts"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter Ready Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Posts": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "892339df-892d-4811-9857-8c9030f1fdb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "ni9SQFelrvtHvETD",
  "tags": []
}