8_ImplementasiAIuntukManajemenSDM/pertemuan_5/SOP_Automation_Bot.json
{
  "name": "SOP_Automation_Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "e5018975-7bcf-4f7f-a3f3-be4b7958d583",
      "name": "Telegram Trigger",
      "webhookId": "a4830de4-035f-4f57-ae76-14360f14a2a2",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "82aa83fb-577f-43d8-9e57-09c577f8a0c3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fd3a30dd-da97-4c4e-88f8-0d91f47d0820",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "da9679ec-b753-4c27-a699-388564468085",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5dbd345b-9c55-4afe-8aa9-741af1382369",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -16
      ],
      "id": "5319582c-d266-4aa3-a82d-71ad2d7dc152",
      "name": "Periksa Pesan"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Untuk memulai percakapan, harap ketik /start",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        80
      ],
      "id": "b3248916-1a22-4134-892c-e2638ef7b436",
      "name": "False Output",
      "webhookId": "d9f6d6c7-0bf9-407a-a945-e235324062f2",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Selamat datang di Asisten SOP SoyLife! Anda bisa bertanya menggunakan menu dibawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement 💰",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti 🌴",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur ⏰",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan 🏥",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru 💻",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        -112
      ],
      "id": "5180f70c-95fc-4390-a219-db796199a252",
      "name": "True Output",
      "webhookId": "4009250d-2a4e-4115-9bba-5e70a9e819e1",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "290ff6f2-0e09-4cf7-bf40-dbcfcd706b14",
              "name": "reimbursement",
              "value": "=Karyawan harus mengisi formulir, melampirkan bukti bayar asli, dan menyerahkannya ke manajer. Pembayaran akan diproses dalam 14 hari kerja.\n\nMau bertanya apalagi?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        272
      ],
      "id": "8a58d350-2093-4ec5-a32a-de4c99242cb1",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "02f8c79d-bacf-44b4-acf9-156da9164f21",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "=reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        272
      ],
      "id": "e98e86e9-af3f-4f63-a6b8-749af8c8df8c",
      "name": "True Reimbursement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976097eb-85cd-494e-ae7e-4177ce44fbdb",
              "name": "cuti",
              "value": "=Karyawan harus mengajukan cuti melalui portal HRD setidaknya 2 minggu sebelum tanggal cuti.\n\nMau bertanya apalagi?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        528
      ],
      "id": "465d4409-09f9-4332-8e93-195fb6ad7679",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a321d449-cb70-4e49-b8a7-cacb0b77ec00",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        528
      ],
      "id": "476901af-2a87-4d76-be4e-da0ca0ba6216",
      "name": "True Cuti"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.cuti }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        512
      ],
      "id": "13a94804-0564-4a20-9a47-62ca7a55791b",
      "name": "Kirim Hasil ke User (Cuti)",
      "webhookId": "fe77d4c0-7bab-402d-9063-fca1c79bdaf8",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.reimbursement }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        256
      ],
      "id": "c053776e-8d6c-450c-b432-326394369db4",
      "name": "Kirim Hasil ke User (Reimbursement)",
      "webhookId": "af0453ce-3c87-47b7-9a11-0a4b6a2a8b0a",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976097eb-85cd-494e-ae7e-4177ce44fbdb",
              "name": "lembur",
              "value": "=Lembur harus mendapat persetujuan atasan terlebih dahulu. Perhitungan lembur mengikuti ketentuan UU Ketenagakerjaan dan dibayarkan pada periode gaji berikutnya.\n\nMau bertanya apalagi?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        768
      ],
      "id": "04a7d59f-60b5-49c9-9a6a-a856e45729d2",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a321d449-cb70-4e49-b8a7-cacb0b77ec00",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        768
      ],
      "id": "92a1cc51-8e17-4ace-b271-4210b4af7d64",
      "name": "True Lembur"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.lembur }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        752
      ],
      "id": "709d3646-42d9-4313-a32f-f52e937b8fc8",
      "name": "Kirim Hasil ke User (Lembur)",
      "webhookId": "fe77d4c0-7bab-402d-9063-fca1c79bdaf8",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976097eb-85cd-494e-ae7e-4177ce44fbdb",
              "name": "asuransi",
              "value": "=Karyawan wajib membawa kartu asuransi, mengisi formulir klaim, dan melampirkan kwitansi serta diagnosa dari dokter.\n\nMau bertanya apalagi?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1024
      ],
      "id": "fbd3d128-6cb8-458c-87c2-f2b59b079c64",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a321d449-cb70-4e49-b8a7-cacb0b77ec00",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        1024
      ],
      "id": "d7f44ca2-b5c9-49af-ba82-49278af219cb",
      "name": "True Asuransi"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.asuransi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        1008
      ],
      "id": "42caccfc-5a3f-4e62-bcc3-05fb9861af5f",
      "name": "Kirim Hasil ke User (Asuransi)",
      "webhookId": "fe77d4c0-7bab-402d-9063-fca1c79bdaf8",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976097eb-85cd-494e-ae7e-4177ce44fbdb",
              "name": "alat_kerja",
              "value": "=Karyawan mengajukan permintaan melalui sistem inventaris, menunggu persetujuan supervisor, dan bagian GA akan memproses pembelian.\n\nMau bertanya apalagi?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1280
      ],
      "id": "d6969505-8435-451a-a2ba-7e6e5b1d3540",
      "name": "Alat Kerja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a321d449-cb70-4e49-b8a7-cacb0b77ec00",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        1280
      ],
      "id": "42fd229c-4e44-426e-a30e-c2801133a1a4",
      "name": "True Alat Kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.alat_kerja }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        1264
      ],
      "id": "f7df4bf9-34bf-4bf0-b841-d6f1b97e5a4a",
      "name": "Kirim Hasil ke User (Alat Kerja)",
      "webhookId": "fe77d4c0-7bab-402d-9063-fca1c79bdaf8",
      "credentials": {
        "telegramApi": {
          "id": "CaBKMV1QZ3XHdVH2",
          "name": "Elyas_SOP_Automation_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Periksa Pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa Pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "True Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Reimbursement": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (Reimbursement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "True Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Cuti": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (Cuti)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "True Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Lembur": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (Lembur)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "True Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Asuransi": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (Asuransi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat Kerja": {
      "main": [
        [
          {
            "node": "True Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Alat Kerja": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (Alat Kerja)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c14079e8-6450-41e4-80eb-286d58a15fca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "ZjI1MMX6qkUEgp7s",
  "tags": []
}