8_ImplementasiAIuntukManajemenSDM/pertemuan_4/SOP_AI_Agent.json
{
  "name": "SOP_AI_Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e9a7fabf-11cd-4337-be12-43b49e10f620",
      "name": "Telegram Trigger",
      "webhookId": "5a263245-124f-43df-902e-ccdb3cd187ab",
      "credentials": {
        "telegramApi": {
          "id": "qirb9olvdlvy9UW2",
          "name": "Elyas_SOP_AI_Agent_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n1. Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n2. Jawaban HARUS diambil dari hasil tool.\n3. DILARANG menggunakan pengetahuan umum.\n4. Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -16
      ],
      "id": "e42e9b61-ef5d-44c7-9230-a8905365a23d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        192
      ],
      "id": "21087eab-9a53-4115-92e2-3c358c7b6b6f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tb4PyqULl7D6mNs0",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:  \n\n1. Bagaimana prosedur reimbursement?  \n2. Prosedur pengajuan cuti tahunan  \n3. Bagaimana aturan lembur di perusahaan?  \n4. Apa syarat klaim asuransi kesehatan? \n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        160
      ],
      "id": "3ac038ef-bbf1-4875-9610-f685d517ac67",
      "name": "False Output",
      "webhookId": "85f2c55d-bae6-4a73-ad22-4e55ba030409",
      "credentials": {
        "telegramApi": {
          "id": "qirb9olvdlvy9UW2",
          "name": "Elyas_SOP_AI_Agent_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -16
      ],
      "id": "e95458e0-42b5-4ea4-ad0b-193d1805e886",
      "name": "True Output",
      "webhookId": "5c6ffd07-d63b-4c23-ac88-aa40d06fb99f",
      "credentials": {
        "telegramApi": {
          "id": "qirb9olvdlvy9UW2",
          "name": "Elyas_SOP_AI_Agent_bot"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sVKOuN_QfCm701LOd3Psknsbatnl2hvPlqFzIfC5oy4",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sVKOuN_QfCm701LOd3Psknsbatnl2hvPlqFzIfC5oy4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sVKOuN_QfCm701LOd3Psknsbatnl2hvPlqFzIfC5oy4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        208
      ],
      "id": "3da466a1-cdca-4704-a678-5859e4b30390",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXO6fMWaY6J0vbX4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12d2eb33-11de-4eaf-8e7a-cfa5f0d131ac",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f164f52b-0c90-46f5-bf9a-774ea4b0ec21",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "139b36d0-c896-44b9-9d6e-c276fc544c45",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b9e7c6e4-2dea-4133-9822-2f8e8c3cac8f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5e270090-cc22-4571-b4ca-a160ac4b3705",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "05ba4984-353d-4c54-ada0-7ab05e441638",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d9c36b5d-72eb-4aab-8fc3-21c3cde59f0d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0d7feb41-e80f-43ac-9f92-72ad19028c1b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9b0463f3-86e1-48bb-a049-4c37527cee10",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bc68177a-29e2-49a2-ad49-a124165c3629",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "be2f5cd1-c118-4cd9-847b-18c3ca62ace5",
      "name": "Memastikan Sesuai Format"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Memastikan Sesuai Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memastikan Sesuai Format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d6e8b3f7-0c34-4d0c-bcf3-ec285460a97c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "cSbshuTyGt2568Ye",
  "tags": []
}