6_ImplementasiAIPemasaran/pertemuan_4/AnalisisBranddanKompetitorPdf.json
{
  "name": "AnalisisBranddanKompetitorPdf",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1dd9d0d8-eeaa-4ff5-8930-6fd7670b5d00",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"q\": \"\\\"NF Academy\\\" OR \\\"Nurul Fikri Academy\\\"\", \"gl\": \"id\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -128
      ],
      "id": "ef7e5b77-ef19-45e1-bf6d-f4901b10d35f",
      "name": "NFA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ZHEtXqn6eTinlMc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"q\": \"\\\"BISA AI\\\"\", \"gl\": \"id\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        16
      ],
      "id": "ed579609-540b-4bd0-9169-ed5258ce4bf4",
      "name": "Bisa AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ZHEtXqn6eTinlMc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"q\": \"\\\"Vinix Z\\\"\", \"gl\": \"id\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        160
      ],
      "id": "10461a00-d34d-4127-bc17-74afda9bb298",
      "name": "Vinix7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ZHEtXqn6eTinlMc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lakukan analisis kompetitif berdasarkan DATA METRICS berikut:\n\n- Total Mentions: {{ $json.metrics.total_mentions }}\n- NF Academy: {{ $json.metrics.breakdown.nfa }} mention ({{ $json.metrics.share_of_voice.nfa }}%)\n- BISA AI: {{ $json.metrics.breakdown.bisa }} mention ({{ $json.metrics.share_of_voice.bisa }}%)\n- Vinix 7: {{ $json.metrics.breakdown.vinix }} mention ({{ $json.metrics.share_of_voice.vinix }}%)\nDan DATA MENTAH berikut:\n{{ $json.combinedText }}\n\n\nTugas Anda:\n\n1. Mengapa Share of Voice (SoV) NF Academy relatif\n{{ $json.metrics.share_of_voice.nfa > 33 ? 'TINGGI' : 'RENDAH' }} dibandingkan kompetitor? Apa yang mereka lakukan dengan benar atau salah berdasarkan sentimen di data mentah?\n2. Berikan skor reputasi online (skala 1-10) untuk masing-masing dari 3 brand tersebut berdasarkan analisis sentimen dari data mentah. Jelaskan alasan di balik setiap skor dengan mengutip contoh spesifik.",
        "messages": {
          "messageValues": [
            {
              "message": "Anda adalah pakar Strategi Bisnis dan Analis Intelijen Kompetitif. Tugas Anda adalah menganalisis data mention dari internet untuk membandingkan brand NF Academy (milik pengguna) dengan kompetitornya (BISA AI dan Vinix 7). Fokus pada sentimen, tren fitur, dan peluang pasar."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        16
      ],
      "id": "e2ce296f-c7cd-4dff-8e46-a35494e24bba",
      "name": "Prompt Untuk Perbandingan"
    },
    {
      "parameters": {
        "jsCode": "// Fungsi untuk mengambil data secara aman dari node search\nconst getOrganicData = (nodeName) => {\n  try {\n    const results = $(nodeName).all();\n    // Mengambil array 'organic' dari hasil Serper API\n    return results[0].json.organic || [];\n  } catch (e) {\n    return []; // Jika node gagal, berikan array kosong agar workflow tidak stop\n  }\n};\n\nconst nfaResults = getOrganicData('NFA');\nconst bisaResults = getOrganicData('BISA AI');\nconst vinixResults = getOrganicData('Vinix7');\n\n// Gunakan DateTime.now() dari Luxon (bukan $now.format)\nconst currentTime = DateTime.now().toFormat('yyyy-MM-dd HH:mm');\n\n// Gabungkan dan berikan label brand ke setiap berita\nconst finalData = [\n  ...nfaResults.map(i => ({ json: { ...i, brand: 'NF Academy', processedAt: currentTime } })),\n  ...bisaResults.map(i => ({ json: { ...i, brand: 'BISA AI', processedAt: currentTime } })),\n  ...vinixResults.map(i => ({ json: { ...i, brand: 'Vinix 7', processedAt: currentTime } }))\n];\n\nreturn finalData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        16
      ],
      "id": "edb4a862-1705-4b03-8841-45a159b83133",
      "name": "Menggabungkan Data"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil seluruh item dari node sebelumnya\nconst allItems = $input.all();\nconst total = allItems.length;\n\n// Menghitung mention per brand secara total\nconst counts = {\n  nfa: allItems.filter(i => i.json.brand === \"NF Academy\").length,\n  bisa: allItems.filter(i => i.json.brand === \"BISA AI\").length,\n  vinix: allItems.filter(i => i.json.brand === \"Vinix 7\").length\n};\n\n// Menghitung Share of Voice (SOV)\nconst sov = {\n  nfa: total > 0 ? ((counts.nfa / total) * 100).toFixed(1) : 0,\n  bisa: total > 0 ? ((counts.bisa / total) * 100).toFixed(1) : 0,\n  vinix: total > 0 ? ((counts.vinix / total) * 100).toFixed(1) : 0\n};\n\n// Menggabungkan seluruh teks berita menjadi satu blok teks untuk AI\nlet combinedText = \"\";\nallItems.forEach(item => {\n  combinedText += `[${item.json.brand}] ${item.json.title}: ${item.json.snippet}\\n\\n`;\n});\n\n// PENTING: Mengembalikan HANYA SATU objek (bukan array)\nreturn {\n  metrics: {\n    processedAt: DateTime.now().toFormat('yyyy-MM-dd HH:mm'),\n    total_mentions: total,\n    breakdown: counts,\n    share_of_voice: sov,\n    dashboard_url: \"https://docs.google.com/spreadsheets/d/19yDBpx981bYwOzIKD7oxHG80YdfDqY_ZUmVyCIYbXNU/edit\"\n  },\n  text_for_ai: combinedText\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        16
      ],
      "id": "a2a47366-decd-4f30-b41f-47f12378ce11",
      "name": "Menyiapkan Teks AI"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        224
      ],
      "id": "9a2f3cdd-d729-449f-a2cb-9a19973cfbfc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "rZhrWUaCbP6ZN40j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oQGwq53UZSJy3EXXDUukOAwcDv9yoenN6LSWvTgoj5g",
          "mode": "list",
          "cachedResultName": "Workflow Analisis Brand dan Kompetitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oQGwq53UZSJy3EXXDUukOAwcDv9yoenN6LSWvTgoj5g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1495214977,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oQGwq53UZSJy3EXXDUukOAwcDv9yoenN6LSWvTgoj5g/edit#gid=1495214977"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $('Menyiapkan Teks AI').item.json.metrics.processedAt }}",
            "NF Acadeny": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.nfa }}",
            "BISA AI": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.bisa }}",
            "Vinix 7": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.vinix }}",
            "Total Mention": "={{ $('Menyiapkan Teks AI').item.json.metrics.total_mentions }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NF Acadeny",
              "displayName": "NF Acadeny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BISA AI",
              "displayName": "BISA AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vinix 7",
              "displayName": "Vinix 7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Mention",
              "displayName": "Total Mention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        16
      ],
      "id": "ad1cfcf9-479c-450a-b6a9-48263b8df702",
      "name": "Mencatat Hasil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BXO6fMWaY6J0vbX4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Laporan Strategi Bisnis & Intelijen Kompetitif</title>\n\n  <style>\n    :root {\n      --orange: #FF6B35;\n      --blue: #2E5AAC;\n      --blue-light: #4A7DCC;\n      --gray-bg: #f8f9fa;\n      --text-dark: #333;\n      --text-light: #6c757d;\n    }\n\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      line-height: 1.6;\n      color: var(--text-dark);\n      background: #ffffff;\n    }\n\n    .container {\n      max-width: 1000px;\n      margin: 0 auto;\n      padding: 24px;\n    }\n\n    header {\n      background: linear-gradient(135deg, var(--blue), var(--blue-light));\n      color: white;\n      padding: 48px 24px;\n      text-align: center;\n      border-radius: 0 0 14px 14px;\n    }\n\n    header h1 {\n      font-size: 28px;\n      font-weight: bold;\n      margin-bottom: 10px;\n    }\n\n    header p {\n      font-size: 15px;\n      opacity: 0.95;\n    }\n\n    .badge {\n      display: inline-block;\n      margin-top: 12px;\n      background: var(--orange);\n      padding: 6px 14px;\n      border-radius: 20px;\n      font-size: 13px;\n      font-weight: bold;\n    }\n\n    section {\n      background: #ffffff;\n      margin: 32px 0;\n      padding: 28px;\n      border-radius: 12px;\n      border: 1px solid #eee;\n    }\n\n    h2 {\n      font-size: 22px;\n      color: var(--blue);\n      margin-bottom: 18px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid var(--orange);\n    }\n\n    h3 {\n      font-size: 18px;\n      color: var(--blue);\n      margin: 18px 0 10px;\n    }\n\n    p {\n      margin-bottom: 12px;\n    }\n\n    ul, ol {\n      margin-left: 22px;\n    }\n\n    li {\n      margin-bottom: 10px;\n    }\n\n    .highlight {\n      background: #fff4e6;\n      padding: 2px 6px;\n      border-radius: 4px;\n      font-weight: bold;\n      color: #d35400;\n    }\n\n    /* Table */\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 16px;\n    }\n\n    th {\n      background: var(--blue);\n      color: white;\n      padding: 12px;\n      font-size: 14px;\n    }\n\n    td {\n      padding: 12px;\n      border-bottom: 1px solid #eee;\n      font-size: 14px;\n      vertical-align: top;\n    }\n\n    .brand-bisa { background: #fff7f1; }\n    .brand-nf { background: #f1f6ff; }\n    .brand-vinix { background: #fafafa; color: #999; }\n\n    .score-bisa { color: var(--orange); font-weight: bold; }\n    .score-nf { color: var(--blue); font-weight: bold; }\n\n    .bar {\n      height: 18px;\n      border-radius: 10px;\n      margin: 6px 0 14px;\n      background: #ddd;\n      overflow: hidden;\n    }\n\n    .bar span {\n      display: block;\n      height: 100%;\n    }\n\n    .bar-bisa span { width: 53.3%; background: var(--orange); }\n    .bar-nf span { width: 46.7%; background: var(--blue); }\n\n    footer {\n      margin-top: 40px;\n      text-align: center;\n      font-size: 13px;\n      color: var(--text-light);\n    }\n\n    @media print {\n      section { page-break-inside: avoid; }\n    }\n  </style>\n</head>\n\n<body>\n\n<header>\n  <div class=\"container\">\n    <h1>📊 Laporan Strategi Bisnis & Intelijen Kompetitif</h1>\n    <p>Analisis Share of Voice (SoV) & Reputasi Digital</p>\n    <div class=\"badge\">📅 07 Januari 2026</div>\n  </div>\n</header>\n\n<div class=\"container\">\n\n  <section>\n    <h2>📌 Ringkasan Eksekutif</h2>\n    <p>\n      Dalam percakapan digital terbatas (<strong>15 mention</strong>),\n      <span class=\"highlight\">BISA AI</span> unggul tipis dengan\n      <strong>53.3% Share of Voice</strong>, sementara\n      <strong>NF Academy</strong> berada di <strong>46.7%</strong>.\n    </p>\n\n    <p><strong>BISA AI (53.3%)</strong></p>\n    <div class=\"bar bar-bisa\"><span></span></div>\n\n    <p><strong>NF Academy (46.7%)</strong></p>\n    <div class=\"bar bar-nf\"><span></span></div>\n  </section>\n\n  <section>\n    <h2>📢 Analisis Share of Voice</h2>\n\n    <h3>🤖 BISA AI</h3>\n    <ul>\n      <li>Fokus topikal AI & Data Science</li>\n      <li>Promosi agresif dan edukatif</li>\n      <li>Akses kursus gratis + sertifikasi</li>\n    </ul>\n\n    <h3>🎓 NF Academy</h3>\n    <ul>\n      <li>Konten dominan profil statis</li>\n      <li>Minim diskusi & CTA viral</li>\n    </ul>\n  </section>\n\n  <section>\n    <h2>⭐ Skor Reputasi</h2>\n    <table>\n      <tr>\n        <th>Brand</th>\n        <th>Skor</th>\n        <th>Kelebihan</th>\n        <th>Kelemahan</th>\n      </tr>\n      <tr class=\"brand-bisa\">\n        <td><strong>BISA AI</strong></td>\n        <td class=\"score-bisa\">8.0 / 10</td>\n        <td>Relevan, gratis, online</td>\n        <td>Branding generik</td>\n      </tr>\n      <tr class=\"brand-nf\">\n        <td><strong>NF Academy</strong></td>\n        <td class=\"score-nf\">6.5 / 10</td>\n        <td>Lokasi fisik, B2B</td>\n        <td>Konten kaku</td>\n      </tr>\n      <tr class=\"brand-vinix\">\n        <td><strong>Vinix 7</strong></td>\n        <td>0 / 10</td>\n        <td>—</td>\n        <td>Tidak terdeteksi</td>\n      </tr>\n    </table>\n  </section>\n\n  <section>\n    <h2>💡 Strategi Rekomendasi untuk NF Academy</h2>\n    <ol>\n      <li>Aktifkan konten sosial & instruktur</li>\n      <li>Tonjolkan keunggulan kelas tatap muka</li>\n      <li>Gunakan promosi berbasis hasil nyata</li>\n    </ol>\n  </section>\n\n  <footer>\n    <p>© 2026 — Laporan Strategi Bisnis & Intelijen Kompetitif</p>\n    <p>Data publik & analisis sosial media (Jan 2026)</p>\n  </footer>\n\n</div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1408,
        16
      ],
      "id": "b21997d3-4b45-422e-bb44-e19e22a830ac",
      "name": "HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "sk_b1fbcb192d703df5ae7462d147bdcdc53323d5b7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        16
      ],
      "id": "ee3b3e6e-0aa4-4cfd-a1e6-e566c8785bd7",
      "name": "Html to Pdf"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "1536170668",
        "binaryData": true,
        "additionalFields": {
          "caption": "📊 *Laporan Intelijen Kompetitif - 10 April 2026*\n\n🔹 BISA AI unggul tipis dengan SoV 53.3%  \n🔹 NF Academy perlu optimasi konten dinamis  \n🔹 Vinix 7: belum terdeteksi — masalah awareness!\n\n📎 Lampiran: PDF lengkap analisis & rekomendasi strategis.\n",
          "fileName": "Laporan Intelijen Kompetitif - 10 April 2026.pdf"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        16
      ],
      "id": "5c5f136c-c902-44d2-88d7-8ab4558bbe2f",
      "name": "Send a document",
      "webhookId": "b9ce2b6e-0bfe-4e98-b92e-3ae31367b34a",
      "credentials": {
        "telegramApi": {
          "id": "miHasanCPOjUpRwm",
          "name": "Elyas_PencarianBeritaPdf_nfa_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NFA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bisa AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vinix7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFA": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bisa AI": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vinix7": {
      "main": [
        [
          {
            "node": "Menggabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan Data": {
      "main": [
        [
          {
            "node": "Menyiapkan Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyiapkan Teks AI": {
      "main": [
        [
          {
            "node": "Prompt Untuk Perbandingan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Untuk Perbandingan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Untuk Perbandingan": {
      "main": [
        [
          {
            "node": "Mencatat Hasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mencatat Hasil": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Html to Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Html to Pdf": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "6d477696-e710-4f73-8e4b-59633001de2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "gYG0EXrXQPgr5uEA",
  "tags": []
}