7_ImplementasiAIuntukKeuangan/pertemuan_5/PeringkasBeritaKeuanganHarian.json
{
  "name": "PeringkasBeritaKeuanganHarian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c332029d-a25f-406f-adfc-544c9dfa374d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -128
      ],
      "id": "16a502d2-00cf-4d36-bb9d-65b59a9dd7e8",
      "name": "CNBC Indonesia RSS "
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "id": "146afb50-b1ab-41e0-b539-713315afd404",
      "name": "Finance Detik RSS "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -32
      ],
      "id": "14bd1e64-e78f-4b20-bfb6-d13edf88e231",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        -32
      ],
      "id": "bfdfec02-c167-4162-bcf2-9b68042143ca",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -32
      ],
      "id": "1fa64c53-15a9-46bd-8097-c56998b949ed",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        240
      ],
      "id": "6c6d615f-436c-4e24-af8a-34237d9960ff",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "299ae1c1-1390-4762-91b2-8dda6c1b385c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 10 artikel berita keuangan teratas hari ini:\n\n{{ $json.text }}\n\n---\nBerdasarkan teks diatas, tolong \"Ringkas 5 berita utama pasar hari ini dalam 5 poin.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        400,
        240
      ],
      "id": "3f5bfe68-6585-4d39-b585-a9565df443c5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        432
      ],
      "id": "b7917a5e-43e8-4916-8135-8b89cc73e0c3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "rZhrWUaCbP6ZN40j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        240
      ],
      "id": "b112c543-19cb-49d3-928e-1fd8ad2b4d91",
      "name": "Send a text message",
      "webhookId": "233ee80e-963e-40a1-8f1b-8ef59094fe40",
      "credentials": {
        "telegramApi": {
          "id": "ohQvKKyD65lDpY26",
          "name": "Elyas_BeritaKeuanganHarian_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CNBC Indonesia RSS ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "59bbc6c6-2d0a-4210-b9d0-6ca3916add65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "QlsRHDSzKMYJ5DIC",
  "tags": []
}