5_Pengembangan Agen AI tanpa Koding/pertemuan_5/PembuatanAgenAIChatbotWebdenganDatadiSupabaseVectorStoredariFileGoogleDocument.json
{
  "name": "PembuatanAgenAIChatbotWebdenganDatadiSupabaseVectorStoredariFileGoogleDocument",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14t7OsFLx9eHteZOq4WfOfV_9gh9OwHWy",
          "mode": "list",
          "cachedResultName": "RAG-NFA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14t7OsFLx9eHteZOq4WfOfV_9gh9OwHWy"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a592cf4b-10e7-448d-9ead-2de33dc9566d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TtMZyWxXYY6ld6KR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1392c139-a07d-4c4a-b31e-9f7d136adffd",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "66d125e5-4c76-41b5-9a05-e960f71ee296",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "8722a2bd-fa16-4ef6-9f9f-fff3b8e1ab5c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TtMZyWxXYY6ld6KR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_baru",
          "mode": "list",
          "cachedResultName": "documents_baru"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "8b84f6c5-9b4d-4052-97cb-5d8aec3d893a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "6LT0Q7WAN1FX8PN3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        208
      ],
      "id": "b13c1ce9-07ca-4a35-be58-c51a1336b55c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "FlU2bX59SasAVRXl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        208
      ],
      "id": "49db4c81-12ad-42a9-8941-2d816833df69",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        336
      ],
      "id": "dc560f95-d7d4-4b86-8365-719a4dc80345",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Halo Perkanalkan\nNama saya Soya. Apakah ada yang bisa saya bantu?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        240
      ],
      "id": "17a99fac-a85a-46e8-bdb4-551231db7e9b",
      "name": "When chat message received",
      "webhookId": "f39bf052-672f-4c21-91b7-f372f46efd6b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten yang membantu user mengenai Laporan MBKM saya (Elyas Randi Renaldi)\nmengenai \"PENGEMBANGAN SISTEM PENILAIAN KANDIDAT WAWANCARA VISVERA MENGGUNAKAN MODEL DEEP\nLEARNING MULTIMODAL BERBASIS BAHASA INGGRIS\". Gunakan tool Supabase Vector Store untuk \nmemberikan bantuan. \n\nJika informasi tidak tersedia dalam database yang disediakan, jangan\nmenjawab dengan mengarang sendiri, tetapi berikan jawaban \"Maaf, saya\nbelum dapat menjawab karena saya temukan dalam informasi yang tersedia.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        240
      ],
      "id": "f2d3b39f-e5bd-4d71-9c3f-926e538c8a20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        432
      ],
      "id": "8e640e65-1cc4-4252-964d-6ce497fe89d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "93TIw109ShxNwY93",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool Supabase Vector Store ini untuk mendapatkan informasi panduan",
        "tableName": {
          "__rl": true,
          "value": "documents_baru",
          "mode": "list",
          "cachedResultName": "documents_baru"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        352
      ],
      "id": "3338b4d1-c0fa-489c-8e61-f3dc8efdf00a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "6LT0Q7WAN1FX8PN3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        496
      ],
      "id": "7f9d4cf3-75d6-4bd4-a5b3-39986897baee",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "FlU2bX59SasAVRXl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_documents_baru"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        336,
        416
      ],
      "id": "5d00f13d-47ed-4826-8fbe-90099c96b0ab",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "seZPAffguCYhiOfa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "e77a0e35-d6ad-42f4-8233-a9b937e90cfb",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "30708039-dd87-42bc-bd7d-5219a3db243f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "fjKzz9H5xTBCf01f",
  "tags": []
}