8_ImplementasiAIuntukManajemenSDM/pertemuan_2/AutoGeneratedInterviewQuestion.json
{
  "name": "AutoGeneratedInterviewQuestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f0ae8170-7dcc-40fa-96bd-d3055aa1bff0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 101,\n      candidate_name: \"Budi Santoso\",\n      email: \"budi.devops@email.test\",\n      position: \"Senior DevOps Engineer\",\n      claimed_skills: \"Kubernetes, Helm, Terraform\",\n      past_company_type: \"Agensi Digital Marketing (Non-Tech Product)\",\n      years_experience: 3,\n      interview_status: \"Scheduled\"\n    }\n  },\n  {\n    json: {\n      id: 102,\n      candidate_name: \"Siti Aminah\",\n      email: \"siti.backend@email.test\",\n      position: \"Backend Engineer\",\n      claimed_skills: \"Microservices, Kubernetes, GoLang\",\n      past_company_type: \"Bank Konvensional (Legacy System)\",\n      years_experience: 5,\n      interview_status: \"Scheduled\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9be390fa-1797-46e4-a5c5-79236c0f35d0",
      "name": "Data Dummy"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "3450ab62-4f1c-4540-b0fd-198fc9a50cfc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const candidate = item.json;\n  const role = candidate.position || \"Software Engineer\";\n  const skills = candidate.claimed_skills;\n  const background = candidate.past_company_type;\n  \n  const systemPrompt = `\n  Role: You are a Senior Technical Interviewer for a ${role} position. \n  Your goal is to validate the technical depth of a candidate named ${candidate.candidate_name}.\n  \n  CONTEXT:\n  The candidate claims expertise in: ${skills}.\n  However, their background is from: ${background}.\n  \n  TASK:\n  Generate 5 advanced technical interview questions (Studi Kasus) to verify if they truly understand the internal workings of the tech stack or just surface-level knowledge.\n  Focus on troubleshooting scenarios and architectural trade-offs.\n  \n  IMPORTANT: \n  - The questions must be challenging but professional.\n  - Provide the output in INDONESIAN language.\n  \n  OUTPUT FORMAT (Markdown):\n  1. **Topik**: [Nama Topik]\n     - **Pertanyaan**: [Studi Kasus Spesifik]\n     - **Ekspektasi Jawaban Senior**: [Poin Kunci]\n  `;\n\n  item.json.llm_prompt = systemPrompt;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        16
      ],
      "id": "1db81513-e268-4966-aa16-33a663ebedb5",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        928,
        16
      ],
      "id": "3f13c1aa-72d1-4481-9e60-6d3c4539b349",
      "name": "Generate Pertanyaan"
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "=Nama Kandidat:{{ $('Data Dummy').item.json.candidate_name }}\n{{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        16
      ],
      "id": "0ff5fb8f-ba4d-46a2-bd97-639f90cfd80b",
      "name": "Kirim Hasil Pertanyaan",
      "webhookId": "0d3c73d7-4ea0-400b-acee-67bb45c45b96",
      "credentials": {
        "telegramApi": {
          "id": "zK0rgqEFIzfXPdBJ",
          "name": "Elyas_AutoGeneratedInterviewQuestion_bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        128
      ],
      "id": "9ec2a94d-43a9-4ff8-9ddb-503c88c5d253",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kDqI1qxXqUIB3WCl",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiQuestion = items[0].json.text; \n\n\nconst candidateName = $('Loop Over Items').item.json.candidate_name;\n\nlet mockAnswer = \"\";\n\nif (candidateName.includes(\"Budi\")) {\n  mockAnswer = \"Untuk masalah CrashLoopBackOff, saya akan cek logs pod pakai kubectl logs, lalu describe pod untuk lihat events. Biasanya karena configmap salah atau app panic saat startup.\";\n} else {\n  mockAnswer = \"Saya biasanya restart servernya pak. Kalau masih error saya install ulang Kubernetesnya.\";\n}\n\nreturn [\n  {\n    json: {\n      question: aiQuestion,\n      candidate_answer: mockAnswer,\n      candidate_name: candidateName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        272
      ],
      "id": "fc9e6e19-05b8-40db-a8f0-4b0f37515dce",
      "name": "Mock Jawaban"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst prompt = `\nROLE: You are a Senior Hiring Manager.\nTASK: Evaluate the candidate's answer based on the technical question provided.\n\nDATA:\n- Candidate Name: ${data.candidate_name}\n- Question Given: \"${data.question.substring(0, 200)}...\" (Truncated for brevity)\n- Candidate Answer: \"${data.candidate_answer}\"\n\nINSTRUCTION:\nGive a score (0-100) and a brief critique.\n- If the answer shows deep troubleshooting steps (logs, events, root cause), give HIGH score.\n- If the answer is generic (restart server, reinstall), give LOW score (Red Flag).\n\nOUTPUT FORMAT (Indonesian):\n**Penilaian untuk ${data.candidate_name}**\n--------------------------\n🎯 **Skor:** [0-100]\n💡 **Analisa:** [Penjelasan singkat 1 kalimat]\n🚫 **Keputusan:** [LOLOS / GAGAL]\n`;\n\nreturn [\n  {\n    json: {\n      eval_prompt: prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        272
      ],
      "id": "fc795eb1-e684-452a-a043-de9afcc4b6aa",
      "name": "Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.eval_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1664,
        272
      ],
      "id": "c44dae3a-5a0a-446f-a5f3-4d5cf7e5ff8b",
      "name": "Prompt Evaluator"
    },
    {
      "parameters": {
        "chatId": "1536170668",
        "text": "=Nama Kandidat:{{ $('Data Dummy').item.json.candidate_name }} {{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        272
      ],
      "id": "80550946-f3c2-41ba-9e58-d55a6e8b1ace",
      "name": "Kirim Hasil Evaluator",
      "webhookId": "0d3c73d7-4ea0-400b-acee-67bb45c45b96",
      "credentials": {
        "telegramApi": {
          "id": "zK0rgqEFIzfXPdBJ",
          "name": "Elyas_AutoGeneratedInterviewQuestion_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.text;\nconst cleaned = text.replace(/[*_`\\[\\]()~>#+=|{}.!\\\\-]/g, '');\n\nconst chunks = [];\nfor (let i = 0; i < cleaned.length; i += 4000) {\n  chunks.push({\n    json: {\n      ...items[0].json,\n      text: cleaned.substring(i, i + 4000)\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        16
      ],
      "id": "e0bdbba3-8ac8-44b5-a530-7fe8fbc14d83",
      "name": "Split Per Chunk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Dummy": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Generate Pertanyaan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Pertanyaan": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Jawaban",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Per Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Pertanyaan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mock Jawaban": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Prompt Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Evaluator": {
      "main": [
        [
          {
            "node": "Kirim Hasil Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Per Chunk": {
      "main": [
        [
          {
            "node": "Kirim Hasil Pertanyaan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rea4IJ4Vf0ziTiUu",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "b3fd7872-5db1-4723-9106-76c5e4f67ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3236409e09d36221387827be5c86b839c595fee6b06437e5ce673fb821d8f135"
  },
  "id": "QzJGA1k6bbOBQbax",
  "tags": []
}